<section id="Servico">
  <h1></h1>
</section>


<nav>
  <app-nav-bar *ngIf="showNavbar"></app-nav-bar>
</nav>

<app-carrossel *ngIf="showCarrossel"></app-carrossel>


<!--Section Sobre com estrutura feita-->
<section id="Sobre" class="sobre-section">

  <div class="sobre-header-principal">
    <h2>💈 Muito mais do que um corte de cabelo</h2><!--Titulo principal-->
  </div>

  <div class="sobre-cards"> <!--Cards informativos médios de apresentação-->

    <app-card title="Tradição e Estilo"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card>


    <app-card title="Ambiente Único"
      content="Um espaço confortável, com música boa, conversa de verdade e aquele cafezinho que não pode faltar."></app-card>

    <app-card title="Profissionais de Respeito"
      content="Nossa equipe é formada por barbeiros experientes e apaixonados pelo que fazem."></app-card>

  </div>

  <div class="sobre-header-secundario"><!--Titulo segunda parte-->
    <h2>Nossa Essência</h2>
  </div>

  <div class="sobre-cards-grandes">

    <app-card-grande title="Experiência Completa"
      content="Não é só cortar o cabelo. É um momento seu. Aqui, você relaxa, troca ideia e sai renovado. Seja um corte na régua ou uma barba alinhada, cuidamos de cada detalhe com precisão."></app-card-grande>

    <app-card-grande title="Produtos de Qualidade"
      content="Usamos apenas os melhores produtos do mercado para garantir um resultado duradouro, perfumado e saudável — tanto pra sua pele quanto pro seu cabelo."></app-card-grande>

    <app-card-grande title="Nosso Compromisso com Você"
      content="Valorizamos o seu tempo e sua confiança. Trabalhamos com agendamento e pontualidade, porque sabemos que estilo e respeito andam juntos."></app-card-grande>
  </div><!--Cards Grandes estilo panfleto-->
</section>

<section id="Sobre" class="sobre-section">

  <div class="sobre-header-principal">
    <h2> O que oferecemos</h2><!--Titulo principal-->
  </div>

  <div id="Servicos"  > <!--Cards informativos médios de apresentação-->

    <app-card-servicos title="Corte"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
      <app-card-servicos title="Barba"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
      <app-card-servicos title="Máquina"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
      <app-card-servicos title="Escova progressiva"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
      <app-card-servicos title="Depilação com cera"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
      <app-card-servicos title="Acabamentos"
      content="Levamos a barbearia clássica a um novo nível, com cortes modernos e atendimento personalizado."></app-card-servicos>
    </div>