.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .horarios-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .horarios-grid button {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .horarios-grid button.selected {
    background-color: #323537;
    color: white;
  }
  
  .submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  }
  
  .checkbox-grid label {
    white-space: normal; /* permite quebra normal */
    word-break: break-word; /* quebra palavra se for muito grande */
  }