.agendamentos-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #000;
}

.agendamento-card {
  background-color: #fffffe; /* Amarelo */
  color: #000; /* Texto preto para contraste */
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 100%;
  font-size: 16px;
}
.agendamento-card:hover {
  transform: scale(1.01);
}


.titulo {
  align-items: center;
  color: white;
}

.agendamento-card button {
  background-color: #dc3545; /* Vermelho para deletar */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.agendamento-card button:hover {
  background-color: #c82333; /* Vermelho mais escuro no hover */
}