body{
    margin: 0;
    padding: 0;
    background-color: black; /* fundo do body todo preto */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#toast-container {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  z-index: 15000 !important; /* maior que o modal */
  pointer-events: auto !important;
}