nav {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    overflow-x: hidden;
  }
  
  .navbar-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
    margin: 0 auto;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    /* Tiramos o hover dos links normais */
    text-shadow: none;
    color: white;
  }
  
  .login-component a {
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .login-component a:hover {
    background-color: white;
    color: #000;
    box-shadow: 0 0 10px white;
  }

  .logo-fixada {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 130px;
    height: auto;
    z-index: 10;
  }
  
  
  .fake-link {
    cursor: pointer;
    text-decoration: underline;
    color: blue; /* ou o que combinar com seu design */
  }