<nav>
  <img src="assets/images/logo.png" alt="Logo" class="logo-fixada">

  <div class="navbar-container">
    <div class="nav-links" id="navLinks">
      <a (click)="scrollTo('Sobre')">Sobre</a>
      <a (click)="scrollTo('Contatos')">Contatos</a>
      <a (click)="scrollTo('Servicos')">Serviços</a>
      <a (click)="abrirAgendamento()">Agendar</a>
    </div>

    <div class="login-component" *ngIf="usuarioLogado">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="abrirPerfil()">
          <mat-icon>person</mat-icon>
          <span>Ver Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>

    <div class="login-component" *ngIf="!usuarioLogado">
      <a (click)="abrirLogin()">Login</a>
    </div>
  </div>
</nav>