:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ae0000bd, #181a18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  .container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease;
  }
  
  .container:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-weight: 600;
    background: none;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    color: #444;
    font-weight: 500;
    background: none;
  }
  
  input {
    width: 93.5%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.2s ease;
    background: none;
  }
  
  input:focus {
    border-color: #66bb6a;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #202120;
  }
  
  div {
    background-color: white;
  }